
.card {
    background: #ffffff;
    width: 40%;
    margin: 10px;
    display: grid;
    height: fit-content;
    grid-template-rows: 8rem auto;
    box-shadow: 0 0.5rem 0.5rem rgb(179, 196, 211);
}

.card-header {
    padding: 0 20px;
    color: #7D8994;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    
    border-top: 1px solid #ccc;
    
}

.card-days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.card-days li {
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #7D8994;
    margin: 0 1px;
}


.card-dates {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    text-align: center;
}

.card-dates li {
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    font-weight: bold;
    position: relative;
}

.card-dates li:hover{
    background-color: #ccc;
    cursor: pointer;
    border-radius: 50%;
}

.card-dates li.active {
    background: #46c0de;
    color: #ffffff;
    border-radius: 50%;
}

.arrow{
    width: 50px;
    padding: 0.5rem;
    border-radius: 5px;
}
.arrow:hover{
    background-color: #dfdada;
    cursor: pointer;
}

.blue-btn{
    background-color: rgb(21, 61, 105);
    padding: 5px 10px;
    margin: 5px;
    color: #ffffff;
    border: none;
    transition: all 0.3s linear;
}

.blue-btn:hover{
    cursor: pointer;
    background-color: rgb(30, 73, 119);
}








