.links {
    display: flex;
  }
  .links a {
    color: rgb(66, 65, 104);
    font-size: 1.1rem;
    text-transform: capitalize;
    transition: all 0.3s linear;
    margin: 0 1rem;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    transition: all 0.3s linear;
  }
  .links a:hover {
    color: rgb(168, 179, 192);
  }
  .links a.active {
    color: rgb(80,179,179);
    
  }
  nav {
    padding: 0.5rem;
    background-color: rgb(245, 245, 245);
  }
  .nav-center {
    width: 95vw;
    max-width: 1370px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-icons{
    display: flex;
    gap: 20px;

}
.icon{
    font-size: 18px;
    padding: 8px;
    transition: all 0.3s linear;
}
.icon:hover{
    color: rgb(209, 214, 219);
    cursor: pointer;
}
.logout-btn{
  color: black;
}
