.profile-header{
    display: flex;
    gap: 20px;

}
.avatar-img{
    width: 100px;
    border-radius: 50px;
    
}
.main-section{
    width: 80vw;
    padding: 10px;
    margin: 10px auto;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.charts{
    width: 300px;
}