.options{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.signup-form{
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
  url(../../assets/background2.png) center/cover no-repeat;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
    padding: 0;
   
  
}
.signup-form form{
  border-radius: 6px;
  background: #edf7f8;
  box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
  width: 500px;
  height: fit-content;
  padding: 15px 25px 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
}
.signup-form input{
padding: 2px 8px 2px 0px;
font-size: 15px;
  border: none;
  
}
.signup-form .hide {
  display: none;
}
.types{
  display: flex;
  gap: 20px;
}
.types input, .options input{
  margin: 5px;
}

.link{font-size: 15px;}